<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        <section class="main-content columns is-fullheight">
            {{- partial "sideNav.html" . -}}
            <div class="container column is-10">
                {{- partial "header.html" . -}}
                <div id="content">
                {{- block "main" . }}{{- end }}
                </div>
            </div>
        </section>
        {{- partial "footer.html" . -}}
    </body>
</html>
